.contenedor{
   margin-left:27%;
   margin-bottom: 10px;
   align-items: center;
}
.contenedor img{
    margin-left:60px;
    vertical-align: middle;
}
.contenedor ion-label{
    margin:5px;
}
.icono{
    width:27px;
    height:27px;
    object-fit:contain;
}