<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Pacientes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 
  <ion-list>
    <ion-list-header>
      <h2><strong>Pacientes</strong></h2>
    </ion-list-header> 
    
       <ion-card  *ngFor="let pac of pacientes"  [routerLink]="['/info-paciente', pac.id]" >
    
          <ion-card-title>{{pac.nombre}} {{pac.apellido}}</ion-card-title>
          <ion-card-subtitle>{{pac.disp}} </ion-card-subtitle> 
             <div class="contenedor"><img src="/assets/iconos/heart.png">
              <ion-label>100</ion-label>
            <img class="icono" src="/assets/iconos/oxigenacion.png">
              <ion-label>95</ion-label> </div>
       </ion-card>
    
  </ion-list>
</ion-content>


<!--    <div class="contenedor">
        <div class="uno">Ritmo Cardiaco</div>
        <div class="uno">Oxigenacion</div>
      </div>
      *ngFor="let paciente of pacientes"-->