<ion-toolbar>
  <ion-button slot="start" [routerLink]="['/info-paciente', id]">
        <ion-icon slot="start" name="chevron-back-outline"></ion-icon>
        Volver
  </ion-button>
 </ion-toolbar>

<ion-content>
  <div class="contenedor-datos"> 
      <div class="cajita">
      <div class="uno" ><ion-label id="lblNombre">{{nombre}}</ion-label></div>
      <div class="dos"><ion-label>{{disp}}</ion-label></div>
      </div>
  
  
      <div class="contenedor">
        <ion-label>Edad</ion-label>
      <div class="dos"><ion-input id="edad" placeholder="{{edad}}"></ion-input> </div> 
      </div>
      <div class="contenedor">
      <ion-label>Sexo</ion-label>
         <ion-list>
             <ion-item>
               <ion-select interface="popover" placeholder="{{sexo}}">
                  <ion-select-option value="hombre">Hombre</ion-select-option>
                  <ion-select-option value="mujer">Mujer</ion-select-option>
               </ion-select>
             </ion-item>
        </ion-list>
      </div>
      <div class="contenedor">
        <ion-label>Tipo de sangre</ion-label>
           <ion-list>
               <ion-item >
                 <ion-select interface="popover" placeholder="Seleccionar tipo de sangre">
                    <ion-select-option *ngFor="let sangre of tipoSangre" value="{{sangre}}">{{sangre}}</ion-select-option>
                 </ion-select>
               </ion-item>
          </ion-list>
        </div>
        <div class="contenedor">
          <ion-label>Servicio médico</ion-label>
             <ion-list>
                 <ion-item>
                   <ion-select interface="popover" placeholder="Seleccionar servicio" >
                      <ion-select-option value="{{serv}}" *ngFor="let serv of servMedico">{{serv}}</ion-select-option>                   
                   </ion-select>
                 </ion-item>
            </ion-list>
          </div>
          <div class="contenedor">
            <ion-label>No. Seguridad Social</ion-label>
            <ion-input placeholder="{{nss}}"></ion-input> 
          </div>    

      <div class="desplegables">

    <ion-label>Alergias</ion-label>
          <div class="bloque-input">   
            <ion-input ></ion-input> <ion-button><ion-icon name="add-circle-outline"></ion-icon></ion-button>
          </div>
          <div class="acordion">
          <ion-accordion-group>
              <ion-accordion value="first">
                <ion-item slot="header" color="light">
                  <ion-label>Alergias</ion-label>
                </ion-item>
                <div class="ion-padding" slot="content">
                  <ion-list>
                    <ion-item *ngFor="let alergia of alergias">
                        <ion-label>{{alergia}}</ion-label>
                        <ion-button slot="end"><ion-icon name="remove-circle-outline"></ion-icon></ion-button>
                    </ion-item>
                  </ion-list>
                </div>
              </ion-accordion>

          </ion-accordion-group>
          </div>
    
    <ion-label>Medicamentos</ion-label>
      <div class="bloque-input">
          <ion-input ></ion-input> <ion-button><ion-icon name="add-circle-outline"></ion-icon></ion-button>
      </div>
          <div class="acordion">
              <ion-accordion-group>
                <ion-accordion value="first">
                  <ion-item slot="header" color="light">
                      <ion-label>Medicamentos</ion-label>
                  </ion-item>
                    <div class="ion-padding" slot="content">
                      <ion-list>
                          <ion-item *ngFor="let entry of medicamentos">
                              <ion-label>{{entry}}</ion-label>
                              <ion-button slot="end"><ion-icon name="remove-circle-outline"></ion-icon></ion-button>
                          </ion-item>
                      </ion-list>
                    </div>
                </ion-accordion>

              </ion-accordion-group>
          </div>
    <ion-label>Enfermedades</ion-label>
      <div class="bloque-input">
        <ion-input ></ion-input> <ion-button><ion-icon name="add-circle-outline"></ion-icon></ion-button>
      </div>
      <div class="acordion">
        <ion-accordion-group>
          <ion-accordion value="first">
            <ion-item slot="header" color="light">
                <ion-label>Enfermedades</ion-label>
            </ion-item>
              <div class="ion-padding" slot="content">
                <ion-list>
                    <ion-item *ngFor="let entry of enfermedades">
                        <ion-label>{{entry}}</ion-label>
                        <ion-button slot="end"><ion-icon name="remove-circle-outline"></ion-icon></ion-button>
                    </ion-item>
                </ion-list>
              </div>
          </ion-accordion>

        </ion-accordion-group>
    </div>
      </div>

      <div class="buttons"> <ion-button size="large" [routerLink]="['/info-paciente', id]">Guardar</ion-button></div>
  </div>
</ion-content>
