<ion-toolbar>
  <ion-button slot="start" [routerLink]="['/pacientes']">
        <ion-icon slot="start" name="chevron-back-outline"></ion-icon>
        Volver
  </ion-button>
 </ion-toolbar>

<ion-content>
  <div class="contenedor-datos"> 
    <div class="cajita">
      <div class="uno" ><ion-label>{{nombre}} {{apellido}}</ion-label></div>
      <div class="dos"><ion-label> {{disp}}</ion-label></div>
    </div>
    <div class="cajita">
      <div class="uno" ><ion-label>Sexo</ion-label></div>
      <div class="dos"><ion-label> {{sexo}}</ion-label></div>
      <div class="uno" ><ion-label>Edad</ion-label></div>
      <div class="dos"><ion-label>{{edad}}</ion-label></div>

    </div>
    <div class="cajita">
      <div class="uno" ><ion-label>Tipo de sangre</ion-label></div>
      <div class="dos"><ion-label>{{sangre}}</ion-label></div>
    </div>
    <div class="cajita">
      <div class="uno" ><ion-label>Servicio médico</ion-label></div>
      <div class="dos"><ion-label>{{servMed}}</ion-label></div>
    </div>
    <div class="cajita">
      <div class="uno" ><ion-label>No. Seguridad Social</ion-label></div>
      <div class="dos"><ion-label>{{nss}}</ion-label></div>
    </div>
  </div>

  <div class="desplegables"> 
   <div class="alergias">
    <ion-accordion-group>
      <ion-accordion value="first">
        <ion-item slot="header" color="light">
          <ion-label>Alergias</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          <ion-list>
            <ion-item *ngFor="let entry of alergias">
              <ion-label>{{entry}}</ion-label>
            </ion-item>
          </ion-list>
        </div>
      </ion-accordion>

    </ion-accordion-group>

   </div>
   <div class="medicamentos"> 
    <ion-accordion-group>
      <ion-accordion value="first">
        <ion-item slot="header" color="light">
          <ion-label>Medicamentos</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          <ion-list>
            <ion-item *ngFor="let entry of medicamentos">
              <ion-label>{{entry}}</ion-label>
            </ion-item>
          </ion-list>
        </div>
      </ion-accordion>

    </ion-accordion-group>
   </div>
   <div class="enfermedades">
    <ion-accordion-group>
      <ion-accordion value="first">
        <ion-item slot="header" color="light">
          <ion-label>Enfermedades</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          <ion-list>
            <ion-item *ngFor="let entry of enfermedades">
              <ion-label>{{entry}}</ion-label>
            </ion-item>
          </ion-list>
        </div>
      </ion-accordion>

    </ion-accordion-group>
   </div>
  </div>
   <div class="buttons">
    <ion-button [routerLink]="['/pacientes']" color="primary" size="large" >Compartir</ion-button>
    <ion-button class="secundario" [routerLink]="['/editar-paciente',id]" size="large" >Editar</ion-button>
    

   </div>
  </ion-content>
