
ion-card{
    padding: 15px;
    color:#6C7572 ;
    font-family: 'Segoe UI';
}

.contenedor{
    display: flex;
    align-items: center;
}
.uno{
    flex-grow:1;
    
}
.dos{
    flex-grow: 2;
}

ion-icon{
    font-size: 45px;
}